.nav {
    background-color: rgb(139, 89, 89);
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  li {
    margin:  10px;
  }
  .ul {
    background-image: url(/src/Components/Navbar/png.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
  }